/*************************************************************
 * Filename: previews.css
 * Description: Stylesheet for portfolio asset preview window
 * Copyright: 2023 Kaitlyn Becker
 *************************************************************/
:root{
    --coral: #F28585;
    --blush:#fcd7d7;
    --blush2: #fbc6c8;
    --off-white:#F2E8DF;
    --soft-gold: #ffedba;
    --gold:#F2B263;
    --soft-brown:#e8cfa3;
    --yellow-green:#a0a478;
    --sage:#abbfa9;
    --dark-green:#7f9e85;
    --outline:#DFBAA6;
    --text-stroke-color: var(--off-white);
    --card-footer-color: #DCCCC5ee;
    --card-bg-shadow: #8a656d;
}
*{
    margin:0;
    box-sizing: border-box;
    font-family: 'ABeeZee',sans-serif;
    color:var(--dark-green);
}
h1{
    font-family:'Arual',sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: var(--outline);
}
h2{
    
    font-family:'Arual',sans-serif;
    font-size: 1.3rem;
    margin: 1% 0;
    color: var(--soft-brown);
}
a{
    color: var(--soft-brown);
    font-size: 1.1rem;
}
::-webkit-scrollbar{
    display: none;
}
#main{
    width:100vw;
    height: 100vh;
    overflow: hidden;
}
#image{
    width: 60%;
    height:100%;
    position: absolute;
    left: 0;
    background-color: #fffaf0a6;
    border-radius: 10px;
    z-index: 3;
}
#image div{
    width: 100%;
    height: 100%;
    position: relative;
}
#image iframe{
    width: 100%;
    height: 100%;
    border:none;
}
#text-bar{
    height: 100%;
    width: 44%;
    background-color: floralwhite;
    float: left;
    padding: 2%;
    /* overflow-y: auto; */
    position: absolute;
    right: 0;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#info-header{
    display: block;
    position: relative;
    padding-bottom: 2%;
    z-index: 4;
}
#nav-bar{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 4;
}
#prevPre, #nextPre{
    width: 15%;
}
    button{
        z-index: 4;
        background: none;
        border:none;
    }
    button img{
        width: 100%;
    }
    button:hover{
        opacity: 50%;
        transition: .5s;
    }
#description-wrap{
    overflow-y: auto;
}
#description-group{
    padding-left: 6%;
}
#description{
    white-space: pre-line;
}
#tags{
    text-align: center;
    text-transform: uppercase;
    color:var(--card-footer-color);
}
.fade{
    transition:.5s;
    opacity:0;
}