:root{
    --coral: #F28585;
    --blush:#f5d2d2;
    --blush2: #fbc6c8;
    --off-white:#F2E8DF;
    --soft-gold: #f6e5b5;
    --gold:#F2B263;
    --soft-brown:#e8c5a3;
    --sage:#86A69D;
    --dark-green:#7bac7e;
    --outline:#DFBAA6;
    --text-stroke-color: var(--off-white);
    --card-footer-color: #DCCCC5ee;
    --card-bg-shadow: #8a656d;


    --card-border-width:1vw;
    --stroke:4px;
    --strokeN:-4px;
}
@font-face {
    font-family: Arual;
    src: url("Arual.ttf");
}
@font-face{
    font-family: 'Beauty';
    src: url("Beauty\ in\ the\ Starlight.ttf")
}
*{
    box-sizing: border-box;
    font-family: ABeeZee, sans-serif;
    font-size: 1.1rem;
    color:var(--sage);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1.2);
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1.2);
}
body{
    margin:0;
    overflow-y: auto;
    background-image: linear-gradient(var(--soft-gold),var(--soft-gold) 30%,var(--blush));
}
#test{
    height: 100px;
    width: 300px;
    resize: both;
    overflow: hidden;
    border-image: url(sign.png) 63 71 31 177 fill stretch;
    border-width: 63px 71px 31px 177px;
    border-style: solid;
}
footer{
    justify-content: center;
    height: 50px;
    background: gray;
    position: sticky;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
h1, h2{
    font-family: 'Arual',sans-serif;
    font-weight: normal;
    margin: 1vh 0;
}
::-webkit-scrollbar{
    display: none;
}
#menu{
    position: absolute;
    right:0;
    padding:1%;
}
#landing{
    margin-top: 0;
    background: url(Landing.jpg) center top / auto 100%;
}
#landing-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 41%;
    bottom: 12%;
}
#landing-text>h1{
    font-size: 14vw;
    margin-left: -14vw;
    margin-bottom: -6vw;
    font-family: 'Beauty';
}
#landing-subheading{
}
#landing-subheading span{
    font-family: 'Arual';
    font-size: 2vw;
}
#landing-rotate{
    text-decoration: solid underline;
}
.page{
    width: 100vw;
    height: 100vh;
    padding: 2vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin:2vh 0;
}
.page-header{
    align-self: flex-start;
}
.page-header h1{
    font-size: 3.5vw;
    color:var(--outline);
    mix-blend-mode: darken;
}
.shadowed{
    text-shadow: 
        var(--stroke) 0px var(--text-stroke-color),
        0px var(--stroke) var(--text-stroke-color),
        0px var(--strokeN) var(--text-stroke-color),
        var(--strokeN) 0px var(--text-stroke-color);
}
/*#region carousel*/
    input[type=radio]{
        background-color: var(--off-white);
        border-radius: 50%;
        border:1px solid var(--soft-brown);
        margin: 1vh;
        appearance: none;
        width: 3vh;
        height: 3vh;
        display: grid;
        place-content: center;
    }
    input[type="radio"]::before {
        content: "";
        width: 2vh;
        height: 2vh;
        border-radius: 50%;
        transform: scale(0);
        transition: .2s transform;
        background-color: var(--soft-brown);
    }
    input[type="radio"]:checked::before {
        transform: scale(1);
    }
    .carousel{
        transform-style: preserve-3d;
        width: 100%;
        height: 80%;
        padding: 2% 5%;
        display: flex;
        flex-direction: column;
    }
    .carousel-cards{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .carousel-cards label{
        pointer-events: none;
        position: absolute;
        margin: auto;
        width: 60%;
        height: 100%;
        left: 0; right: 0;
        transition: transform .3s ease;
        cursor: pointer;
        min-width: 420px;
    }
    .card-content{
        z-index: 3;
        position: absolute;
        height: 93%;
        width: 100%;
        bottom: 1px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        transition: all .4s;
    }
    .card-content>div{
        bottom: 4vh;
        transform: scaleX(0);
        width:fit-content;
        position: absolute;
        transition: transform .4s, bottom .3s;
        transform-origin: bottom left;
    }
    .card-content img{
        height: 100%;
    }
    .card-content h2{
        font-size: 3vw;
        position: relative;
        color: var(--sage);
        padding: 20px 45px 20px 20px;
        text-shadow: 1px 1px var(--off-white), -1px -1px var(--soft-brown);
    }
    .card-content>div>div{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        border-image: url(sign.png) 63 71 31 177 fill stretch;
        border-width: 63px 71px 31px 177px;
        border-style: solid;
    }
    .card-bg,.card-frame{
        position: absolute;
        width: 90%;
        height: 93%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: border .5s;
    }
    .card-frame{
        z-index: 5;
        border-image: url("PlantFrameMockup.png") 95 round;
        border-image-outset: 1.5vh;
        border-style:solid;
    }
    .card-bg{
        pointer-events: all;
        background:var(--off-white);
        overflow: hidden;
        border: 3px solid var(--soft-brown);
        border-radius: 1.2vw;
    }
    .card-bg *{
        position: absolute;
    }
    .card-bg img{
        height: 100%;
        left:50%;
        transform: translatex(-50%);
        mix-blend-mode: multiply;
        opacity: 20%;
    }
    .card-footer{
        width:101%;
        height: 14vh;
        bottom:-14vh;
        transition: bottom .5s;    
        display: flex;
        justify-content: flex-end;
        padding:1% 3%;
        z-index: 4;
        background: var(--card-footer-color);
    }
    /*#region carousel rotation*/
        .left {
            transform: translatex(-40%) scale(.8);
            opacity: .4;
            z-index: 1;
        }      
        .right {
            transform: translatex(40%) scale(.8);
            opacity: .4;
            z-index: 1;
        }
        .front {
            transform: translatex(0) scale(1);
            opacity: 1;
            z-index: 2;
        }
        .back{
            transform: translatex(0) scale(0.5);
            opacity: .4;
            z-index:0;
        }
    /*#endregion*/
    /*#region currently selected*/
        .front .card-frame{
            border-width: 13vh;
        }
        .front .card-bg{
            border-width: var(--card-border-width);
        }
        .front .card-content{
            height: 100%;
            bottom: var(--card-border-width);
            animation:bounceIn .4s both;
        }
        .front .card-content>div{
            font-size: 3vw;
            left: 5px;
            transform: scaleX(1);
        }
        .front[animate="true"]:hover .card-footer{
            bottom:-7vh;
            animation: bounceIn2 .5s both;
        }
        .front[animate="true"]:hover .card-content>div{
            bottom:6vh;
            animation:bounceIn2 .5s both;
        }
    /*#endregion*/
    .carousel-radio{
        display:flex;
        align-items:center;
        justify-content: center;
    }
/*#endregion*/

/*#region animations*/
    @keyframes bounceIn{
        0%{height:90%;}
        50%{height: 110%;}
        100%{height: 100%;}
    }
    @keyframes bounceIn2{
        0%{transform:translateY(0px) scaleY(1);}
        25%{transform:translateY(-25px) scaleY(1.3);}
        50%{transform:translateY(-30px) scaleY(1);}
        70%{transform:translateY(10px) scaleY(.8);}
        100%{transform:translateY(0px) scaleY(1);}
    }
    @keyframes bounceOut{
        100%{opacity:0%}
    }

/*#endregion*/

.template{
    display:none;
}
/*
.flip5 { animation: flip5 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -180px; }
}
*/