:root{
    --coral: #F28585;
    --blush:#fcd7d7;
    --blush2: #fbc6c8;
    --off-white:#F2E8DF;
    --soft-gold: #ffedba;
    --gold:#F2B263;
    --soft-brown:#e8cfa3;
    --yellow-green:#a0a478;
    --sage:#abbfa9;
    --dark-green:#7f9e85;
    --outline:#DFBAA6;
    --text-stroke-color: var(--off-white);
    --card-footer-color: #DCCCC5ee;
    --card-bg-shadow: #8a656d;


    --card-border-width:1vw;
    --stroke:4px;
    --strokeN:-4px;
}
@font-face {
    font-family: Arual;
    src: url("Arual.ttf");
}
@font-face{
    font-family: 'Beauty';
    src: url("Beauty\ in\ the\ Starlight.ttf")
}
*{
    box-sizing: border-box;
    font-family: ABeeZee, sans-serif;
    font-size: 1.1rem;
    color:var(--dark-green);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1.2);
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1.2);
}
body{
    margin:0;
    background-image: linear-gradient(var(--soft-gold),var(--soft-gold) 30%,var(--blush));
    overflow-y: auto;
    overflow-x: hidden;
}
#main{
    height:100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    position: relative;
}
#main-bg{
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(var(--soft-gold),var(--soft-gold) 30%,var(--blush));
}
#test{
    height: 100px;
    width: 300px;
    resize: both;
    overflow: hidden;
    border-image: url(sign.png) 63 71 31 177 fill stretch;
    border-width: 63px 71px 31px 177px;
    border-style: solid;
}
footer{
    justify-content: center;
    height: 50px;
    background: gray;
    position: sticky;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
h1, h2{
    font-family: 'Arual',sans-serif;
    font-weight: normal;
    margin: 1vh 0;
}
/* scrollbar styling*/
::-webkit-scrollbar {
    display: none;
}

#menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1%;
}
#landing{
    margin: 0;
    padding: 0%;
    background: url(Landing.jpg) center top / auto 100% no-repeat;
    position: relative;
}
#landing img{
    position: absolute;
    height: 100%;
    opacity: 10%;
    mix-blend-mode: screen;
    animation: glow 10s infinite;
}
#landing img:nth-of-type(1){
    animation-delay: 1s;
}
#landing img:nth-of-type(2){
    animation-delay: 2s;
}
#landing-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 41%;
    bottom: 12%;
}
#landing-text>h1{
    font-size: 14vw;
    margin-left: -14vw;
    margin-bottom: -6vw;
    font-family: 'Beauty';
}
#landing-subheading *{
    font-family: 'Arual';
    font-size: 2vw;
    font-weight: bold;
    line-height: 2.5vw;
}
#landing-rotate{
    display: inline-block;
    overflow: hidden;
    height: 2.5vw;
    padding: 0;
    margin-bottom: -0.5vw;
}
.rotate{
    list-style: none;
    margin-top: 0vw;
    padding: 0;
    margin-bottom: 0;
    animation: rotate 25s infinite, rotateOp 25s infinite;
}
.rotate li{
    padding:1vw 0;
}
#about img{
    position: absolute;
}
#about :nth-child(1){
    width: 40%;
    max-height: 70%;
    transform: translateX(50%);
    object-fit: contain;
}
#about :nth-child(2){
    width:40%;
    max-height: 70%;
    transform: translateX(-50%);
    object-fit: contain;
}
#about :nth-child(3){
    height: 80%;
    bottom:2vw;
}
.page{
    width: 100vw;
    height: 100vh;
    padding: 2vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom:15vh;
    position: sticky;
    top:0;
    background: var(--soft-gold);
}
.last-page{
    margin: 0;
}
.page-header{
    align-self: flex-start;
}
.page-header h1{
    font-size: 3.5vw;
    font-weight: bold;
    color:var(--outline);
    mix-blend-mode: darken;
}
.shadowed{
    text-shadow: 
        var(--stroke) 0px var(--text-stroke-color),
        0px var(--stroke) var(--text-stroke-color),
        0px var(--strokeN) var(--text-stroke-color),
        var(--strokeN) 0px var(--text-stroke-color);
}
.divider{
    width: 100%;
    height: 25px;
    background:var(--soft-brown);
    position: relative;
    margin-bottom: 5vh;
}
.divider div{
    width: 100%;
    height: 30%;
    background:#efd6ab;
    position: absolute;
}
/*#region carousel*/
    .carousel-wrapper{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input[type=radio]{
        background-color: var(--off-white);
        border-radius: 50%;
        border:1px solid var(--soft-brown);
        margin: 1vh;
        appearance: none;
        width: 3vh;
        height: 3vh;
        display: grid;
        place-content: center;
    }
    input[type="radio"]::before {
        content: "";
        width: 2vh;
        height: 2vh;
        border-radius: 50%;
        transform: scale(0);
        transition: .2s transform;
        background-color: var(--soft-brown);
    }
    input[type="radio"]:checked::before {
        transform: scale(1);
    }
    .carousel{
        transform-style: preserve-3d;
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: column;
    }
    .carousel-cards{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .carousel-cards label{
        pointer-events: none;
        position: absolute;
        margin: auto;
        width: 60%;
        height: 100%;
        left: 0; right: 0;
        transition: transform .3s ease;
        cursor: pointer;
        min-width: 420px;
    }
    .card-content{
        position: absolute;
        height: 93%;
        width: 100%;
        bottom: 1px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        transition: all .4s;
    }
    .card-content>div{
        bottom: 4vh;
        transform: scaleX(0);
        width:fit-content;
        position: absolute;
        transition: transform .4s, bottom .3s;
        transform-origin: bottom left;
    }
    .card-content img{
        height: 100%;    
        width: 100%;
        z-index: 3;
        object-fit: contain;
    }
    .card-content h2{
        font-size: 3vw;
        position: relative;
        color: var(--yellow-green);
        padding: 10px 25px 10px 20px;
        text-shadow: 1px 1px var(--off-white), -1px -1px var(--soft-brown);
    }
    .card-content>div>div{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        border-image: url(PlantSign.png) 130 400 fill stretch;
        border-width: 32px 100px;
        border-style: solid;
    }
    .card-bg,.card-frame{
        position: absolute;
        width: 90%;
        height: 93%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: border .5s;
    }
    .card-frame{
        z-index: 5;
        border-image: url("PlantFrame.png") 240 round;
        border-image-outset: 1.4vh;
        border-style:solid;
    }
    .card-bg{
        pointer-events: all;
        background:var(--off-white);
        overflow: hidden;
        border: 3px solid var(--soft-brown);
        border-radius: 1.2vw;
    }
    .card-bg>*{
        position: absolute;
    }
    .card-bg>img{
        height: 100%;
        left:50%;
        transform: translatex(-50%);
        mix-blend-mode: multiply;
        opacity: 20%;
        z-index: 2;
    }
    .card-footer{
        width:101%;
        height: 14vh;
        bottom:-14vh;
        transition: bottom .5s;    
        display: flex;
        justify-content: space-between;
        padding:1% 3%;
        z-index: 4;
        background: var(--card-footer-color);
    }
    .card-detail{
        font-size: .9rem;
        flex-shrink: 0;
    }
    .card-footer img{
        height: 30%;
        top:10%;
        position: relative;
    }
    /*#region carousel rotation*/
        .left {
            transform: translatex(-40%) scale(.8);
            opacity: .4;
            z-index: 1;
        }      
        .right {
            transform: translatex(40%) scale(.8);
            opacity: .4;
            z-index: 1;
        }
        .front {
            transform: translatex(0) scale(1);
            opacity: 1;
            z-index: 2;
        }
        .back{
            transform: translatex(0) scale(0.5);
            opacity: .4;
            z-index:0;
        }
    /*#endregion*/
    /*#region currently selected*/
        .front .card-frame{
            border-width: 18vh;
        }
        .front .card-bg{
            border-width: var(--card-border-width);
        }
        .front .card-content{
            height: 100%;
            bottom: var(--card-border-width);
            animation:bounceIn .4s both;
        }
        .front .card-content>div{
            font-size: 3vw;
            left: 5px;
            transform: scaleX(1);
            z-index: 5;
        }
        .front[animate="true"]:hover .card-footer{
            bottom:-7vh;
            animation: bounceIn2 .5s both;
        }
        .front[animate="true"]:hover .card-content>div{
            bottom:6vh;
            animation:bounceIn2 .5s both;
        }
    /*#endregion*/
    .carousel-radio{
        display:flex;
        align-items:center;
        justify-content: center;
    }
/*#endregion*/
#preview-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    display: none;
}
#preview-frame-sizer{
    margin: auto;
    width: 90vw;
    height: 90vh;
    overflow: hidden;
    position: relative;
}
#preview{
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top:0;
    left:0;
}
#preview-bg{
    position: absolute;
    width:100%;
    height: 100%;
    background: var(--card-bg-shadow);
    opacity: .6;
}

/*#region animations*/
    @keyframes bounceIn{
        0%{height:90%;}
        50%{height: 110%;}
        100%{height: 100%;}
    }
    @keyframes bounceIn2{
        0%{transform:translateY(0px) scaleY(1);}
        25%{transform:translateY(-25px) scaleY(1.3);}
        50%{transform:translateY(-30px) scaleY(1);}
        70%{transform:translateY(10px) scaleY(.8);}
        100%{transform:translateY(0px) scaleY(1);}
    }
    @keyframes glow{
        0%{opacity: 10%;}
        25%{opacity: 45%;}
        50%{opacity: 10%;}
        70%{opacity: 30%;}
        90%{opacity: 10%;}
        100%{opacity:10%}
    }
    @keyframes rotate {
        0%      { margin-top: -1vw; }
        15%     { margin-top: -1vw; }
        20%     { margin-top: -5.5vw; }
        35%     { margin-top: -5.5vw; }
        40%     { margin-top: -10vw; }
        55%     { margin-top: -10vw; }
        60%     { margin-top: -14.5vw; }
        75%     { margin-top: -14.5vw; }
        80%     { margin-top: -19vw; }
        95%     { margin-top: -19vw; }
        99.99%  { margin-top: -23.5vw; }
        100%    { margin-top:-1vw; }
    }
    @keyframes rotateOp {
        0%  { opacity: 100%; }
        15% { opacity: 100%; }
        17% { opacity: 0%; }
        20% { opacity: 100%; }
        35% { opacity: 100%; }
        37% { opacity: 0%; }
        40% { opacity: 100%; }
        55% { opacity: 100%; }
        57% { opacity: 0%; }
        60% { opacity: 100%; }
        75% { opacity: 100%; }
        77% { opacity: 0%; }
        80% { opacity: 100%; }
        95% { opacity: 100%; }
        97% { opacity: 0%; }
        100%{ opacity: 100%; }
    }

/*#endregion*/

.template{
    display:none;
}