
html{height: 100%;}
body,#root{
    margin:0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding: 0%;
}
*{
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}