@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.cdnfonts.com/css/parade');
@import url('https://fonts.cdnfonts.com/css/foresta-monesta-script');

@import "tailwindcss";

@theme {
  --color-sunlight: #faeccd;
  --color-underground: #2b2d30;
  --font-primary: 'ABeeZee', Arial, sans-serif;
  --font-welcome: 'Foresta Monesta Script', cursive;
}

html{height: 100%;}
body,#root{
    margin:0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding: 0%;
    font-family: var(--font-primary);
}
*{
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}